<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795166762328-ppm3kq1be06su2dcvfnhdvikt1eg5rrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795166762328-ppm3kq1be06su2dcvfnhdvikt1eg5rrr</string>
	<key>API_KEY</key>
	<string>AIzaSyC6WgYXgyqno7R7hyf47c3wrOH89mRpuFo</string>
	<key>GCM_SENDER_ID</key>
	<string>795166762328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.informatio.Health-SST</string>
	<key>PROJECT_ID</key>
	<string>healthatsst-userdata</string>
	<key>STORAGE_BUCKET</key>
	<string>healthatsst-userdata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795166762328:ios:c684f5e7ea9041ba</string>
	<key>DATABASE_URL</key>
	<string>https://healthatsst-userdata.firebaseio.com</string>
</dict>
</plist>